doc/
erl_crash.dump
*.crashdump
/deps/
/logs/
ebin/
cover/
test/*.beam
test/ct.cover.spec
brod.d
.brod.plt
.erlang.mk
*.coverdata
ct.coverdata
sys.config
xrefr
brod.plt
_build/
_rel/
.eunit/
.rebar/
rebar.lock
*.testdata
*.log
relx
docker/
