%% -*- mode:erlang -*-
{erl_opts,            [ warnings_as_errors
                      , warn_unused_vars
                      , warn_shadow_vars
                      , warn_unused_import
                      , {d, 'NOTEST', true}
                      , {platform_define, "^R", otp_before_17}
                      , {platform_define, "(^R | 17)", otp_before_18}
                      ]}.
{xref_checks,         [ fail_on_warning
                      , undefined_function_calls
                      , deprecated_function_calls
                      ]}.
{eunit_opts,          [{report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{lib_dirs,            ["."]}.
{deps_dirs,           ["deps"]}.
{escript_name,        "brod"}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls, deprecated_functions]}.
