{pre_hooks,
    [{"(linux|darwin|solaris)", compile, "make -C c_src"},
        {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
    [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
        {"(freebsd)", clean, "gmake -C c_src clean"}]}.

{deps, [ {supervisor3, "1.1.5"}
       , {kafka_protocol, "0.9.2"}
       ]}.
{erl_opts, [warn_unused_vars,warn_shadow_vars,warn_unused_import,warn_obsolete_guard,debug_info]}.
