{deps, [{kafka_protocol, "4.2.6"}]}.
{project_plugins, [{rebar3_lint, "~> 3.2.5"}]}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warnings_as_errors, warn_unused_vars,warn_shadow_vars,warn_obsolete_guard,debug_info]}.
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               deprecated_functions]}.
{profiles, [
  {test, [
    {deps, [ {hut, "1.3.0"}
           , {jsone, "1.7.0"}
           , {meck, "0.9.2"}
           , {proper, "1.5.0"}
           , {snappyer, "1.2.9"}
           , {snabbkaffe, {git, "https://github.com/kafka4beam/snabbkaffe.git", {branch, "1.0.10"}}}
           , {lz4b, "0.0.13"}
           , {ezstd, "1.1.0"}
    ]},
    {erl_opts, [warnings_as_errors, {d, build_brod_cli}]}
  ]}
]}.
{ex_doc,
  [ {extras,
    [ {"CHANGELOG.md", #{title => "Changelog"}}
    , {"README.md", #{title => "Overview"}}
    , {"LICENSE", #{title => "License"}}
    , "guides/examples/elixir/Publisher.md"
    , "guides/examples/elixir/Consumer.md"
    , "guides/examples/Authentication.md"
    ]}
    , {groups_for_extras, [{"Elixir", [ <<"guides/examples/elixir/Publisher.md">>
                                      , <<"guides/examples/elixir/Consumer.md">>
                                      ]}
                          ,{"Usage", [<<"guides/examples/Authentication.md">>]}]}
    , {main, "README.md"}
    , {homepage_url, "https://hexdocs.pm/brod"}
    , {source_url, "https://github.com/kafka4beam/brod"}
    , {source_ref, "master"}
    , {prefix_ref_vsn_with_v, false}
    , {api_reference, false}
  ]}.
{hex, [{doc, ex_doc}]}.
{ct_opts, [{enable_builtin_hooks, false}]}.
{dialyzer, [{warnings, [unknown]}]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{plugins, []}.
