%% We replaces the script named brod with escript
%% relx appends -<version> to a version release
%% so should be one named brod-i as for brod-interactive
{release, {brod, "i"},
 [ sasl
 , brod
 , supervisor3
 , kafka_protocol
 , jsone
 , docopt
 ]}.

{overlay,[ {copy, "priv/ssl", ""}
         ]}.

