%% -*- mode: Erlang; fill-column: 80; -*-
[{brod,
   [ { clients
     , [ { brod_client_1
         , [ { endpoints, [{"localhost", 9092}]}
           , { config
             , [ {restart_delay_seconds, 10}
               , {auto_start_producers, true}
               , {default_producer_config,
                  [ {topic_restart_delay_seconds, 10}
                  , {partition_restart_delay_seconds, 2}
                  , {required_acks, -1}
                  ]
                 }
               ]
             }
           ]
         }
       ]
     }
   ]
}].
