version: "2"

services:
  zookeeper:
    image: "zmstone/kafka:${KAFKA_VERSION}"
    container_name: zookeeper
    command: run zookeeper
    network_mode: host
  kafka_1:
    depends_on:
      - zookeeper
    image: "zmstone/kafka:${KAFKA_VERSION}"
    container_name: "kafka-1"
    network_mode: host
    environment:
      BROKER_ID: 0
      PLAINTEXT_PORT: 9092
      SSL_PORT: 9093
      SASL_SSL_PORT: 9094
      SASL_PLAINTEXT_PORT: 9095
      ADVERTISED_HOSTNAME: localhost
      ZOOKEEPER_CONNECT: "localhost:2181"
  kafka_2:
    depends_on:
      - zookeeper
    image: "zmstone/kafka:${KAFKA_VERSION}"
    container_name: "kafka-2"
    network_mode: host
    environment:
      BROKER_ID: 1
      PLAINTEXT_PORT: 9192
      SSL_PORT: 9193
      SASL_SSL_PORT: 9194
      SASL_PLAINTEXT_PORT: 9195
      ADVERTISED_HOSTNAME: localhost
      ZOOKEEPER_CONNECT: "localhost:2181"
